<!-- <button mat-button [matMenuTriggerFor]="aboveMenu">Fornecedores</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item routerLink="/cadastrar-fornecedor">Cadastrar Fornecedor</button>
  <button mat-menu-item routerLink="/listar-fornecedores">Lista de Fornecedores</button>
</mat-menu> -->


<mat-toolbar color="primary">

  <span>
    Banco Cap
  </span>

  <div class="spacer">
  </div>

  <a mat-button routerLink="listar-fornecedores">Home</a>
  <a mat-button>Sobre</a>
  <a mat-raised-button color="accent">Sing Up</a>


</mat-toolbar>